{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<div class='container margin-top'>
    <h1> Modifier son compte</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_compte_show') }}">back</a>
</div>
{% endblock %}