{% extends 'base.html.twig' %}

{% block title %}Confirmation
{% endblock %}
{% block stylesheet %}{% endblock %}
{% block body %}
	<div class="container margin-top">
		<h1>Paiement confirmé
		</h1>
	</div>
{% endblock %}
